{% extends "layout.html" %}

{% block title %}
Chai Page
{% endblock %}

{% block content %}
<h1 class="bg-pink-900 text-center font-bold">Chai aur Code | All Chai Page</h1>

<div class="grid grid-cols-3 gap-4 m-4">
{% for chai in chais %}

<div class="bg-pink-700 p-5 rounded">
    
<img class="rounded shadow-lg p-2" src="{{chai.image.url}}" alt="chai_image">

<h3 class=" text-2xl font-bold">{{chai.name}}</h3>

<a href="{% url 'chai_detail' chai.id %}">

<button type="button" class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-800 focus:outline-none focus:ring2 focus:ring-offset-2 focus:ring-blue-900">{{chai.chaitype}} - {{chai.id}}</button>

</a>
</div>
{% endfor %}

</div>
{% endblock content %}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chai</title>
</head>
<body>
    <h1>All types of available chai</h1>
</body>
</html> {% endcomment %}

